body{
    background-color: black;
    font-family: inkant;
    color: white;
    white-space: nowrap;
}

@font-face {
    font-family: inkant;
    src: url(InknutAntiqua-Regular.ttf);
}

.flex-box{
    width: 1000px;
    height: 2750px;
}

.return{
    position: absolute;
    font-size: 50px;
    left: 50px;
}

.title{
    position: absolute;
    font-size: 100px;
    top: -25px;
    left: 900px;
}

img{
    width: 900px;
    height: auto;
    position: absolute;
}

.img1{

    top: 200px;
    left: 50px;
}

.img2{

    top: 700px;
    left: 600px;
}

.img3{

    top: 1200px;
    left: 50px;
}

.img4{

    top: 1700px;
    left: 600px;
}

.info{
    position: absolute;
    top: 2200px;
    left: 50px;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color:  #2A6C38;
    transition: 0.5s;
}